* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main1 {
  height: 100%;
  width: 100%;
}
.Hmain {
  height: 7%;
  width: 100%;
  position: fixed;
  display: flex;
}
.header {
  height: 100%;
  width: 100%;
  margin: 13.4px 20%;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 1px 3px;
  overflow-x: auto;
  white-space: nowrap;
}
.header::-webkit-scrollbar {
  height: 6px;
}
.text{
  margin-top: 5px;
}
.h-button {
  color: black;
  margin: 0px 12px 0px 12px;
  font-weight: 500;
  font-size: medium;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
.h-button:hover {
  padding: 9px;
  border-radius: 30px;
  color: white;
  background-color: black;
}
.fheader {
  height: 10.5%;
  width: 100%;
}
.page1 {
  height: 89.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.p1-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#p1-img {
  width: 165px;
  border-radius: 40px;
  padding-bottom: 5px;
}
.p1-left {
  margin: 5% 10% 0% 10%;
}
.p1-left h1 {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  padding-bottom: 25px;
}
.p1-left h3 {
  font-size: 20px;
  padding-bottom: 15px;
  font-family: "Playfair Display", sans-serif;
}
.p1-left p {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}
.p1-info {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  padding-bottom: 15px;
}
.p1-buttons {
  display: flex;
  gap: 1rem;
  padding-bottom: 25px;
}
.p1-button2 {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.4s;
}
.p1-button1 {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.4s;
}
.p1-button2:hover {
  background-color: #000000;
  color: #fff;
}
.p1-button1:hover {
  background-color: #000000;
  color: #fff;
}
.hrr {
  width: 300px;
  font-weight: bold;
  color: gray;
  padding-bottom: 20px;
}
.follow ul {
  display: flex;
  gap: 2rem;
  font-size: 20px;
}

.follow ul li {
  list-style: none;
}
.follow ul a {
  text-decoration: none;
  color: #000000;
}
.page2 {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#p2-h1 {
  color: white;
}
@media (min-width: 800px) {
  .Hmain {
    height: 10%;
  }
  .header {
    margin: 15.4px 20%;
  }
  .text{
    margin-top: 0px;
  }
  .h-button{
  margin-top: 0px;
  }
  .h-button:hover {
    padding: 12px;
  }
  .page1 {
    flex-direction: row-reverse;
  }
  #p1-img {
    width: 230px;
  }
  .p1-right {
    margin: 0% 20% 0% 0%;
  }
  .p1-left{
    margin: 8% 10% 0% 10%;
  }
  #p1-h1 {
    font-size: 60px;
  }
  #p1-h3 {
    font-size: 25px;
  }
  #p1-p {
    line-height: 1.3;
  }
  .hrr {
    width: 500px;
  }
}